body {
  margin: 0;
  padding: 0;
  background: #f1d8d3;
  font-size: 30px;
  color: #483854;
}

.app {
  text-align: center;
}

.title {
  font-family: "Do Hyeon", sans-serif;
  font-size: 60px;
}

.question {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
}

.answers {
  line-height: 2;
  margin: 15px;
  font-size: 17px;
}

.prompt {
  font-family: "Do Hyeon", sans-serif;
  font-size: 22px;
}

h1 {
  color: #8b716b;
}

.allQues {
  color: #a06376;
  font-size: 20px;
}

.answer-choice {
  padding: 15px;
}

button {
  padding: 10px;
  border: 3px solid #b88453;
  border-radius: 10px;
  color: #a06376;
}
